/* UxField */
.ux-field {}
.ux-field .ux-field-label {
	padding-bottom: .8rem;
	font-weight: 700;
}
.ux-field .ux-field-message {
	padding-top: .4rem;
	color: var(--dark3);
}
.ux-field .ux-field-result {
	padding-top: .4rem;
}
.ux-field.valid .ux-field-result {
	color: var(--valid);
}
.ux-field.invalid .ux-field-result {
	color: var(--invalid);
}