/* UxKeypad */
.ux-keypad {
	width: 100%;
	background-color: var(--light0);
}
.ux-keypad .ux-keypad-base {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1.6rem 0;
}
.ux-keypad .ux-keypad-button {
	padding: .8rem 0;
}
.ux-keypad .ux-keypad-label {
	pointer-events: none;
}
/* UxKeypad in UxCard*/
.ux-card .ux-keypad {
	margin: -1.6rem;
	width: initial;
	background-color: transparent;
}