/* UxTimeline */
.ux-timeline {
	width: 100%;
}
.ux-timeline-base {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	position: relative;
}
.ux-timeline-base::before {
	content: "";
	position: absolute;
	top: 0;
	left: .6rem;
	height: 100%;
	width: .1rem;
	background-color: var(--dark);
	background-image: repeating-linear-gradient(to bottom, var(--light3), var(--light3) .1rem, var(--light0) .1rem, var(--light0) .4rem);
}
.ux-timeline-item {
	display: flex;
	gap: .8rem;
	position: relative;
}
.ux-timeline-item:first-child::after {
	content: "";
	position: absolute;
	top: 0;
	left: .6rem;
	height: 8px;
	width: .1rem;
	background-color: var(--light0);
}
.ux-timeline-item:last-child::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: .6rem;
	height: calc(100% - .8rem);
	width: .1rem;
	background-color: var(--light0);
}
.ux-timeline-index {
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: .8rem;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: var(--color1);
	font-size: 0;
	line-height: 0;
	color: transparent;
}
.ux-timeline-content {
	flex-grow: 1;
}

/* UxTimeline Number */
.ux-timeline.number {}
.ux-timeline.number .ux-timeline-base {}
.ux-timeline.number .ux-timeline-base::before {
	left: 1.2rem;
}
.ux-timeline.number .ux-timeline-item:first-child::after {
	left: 1.2rem;
}
.ux-timeline.number .ux-timeline-item:last-child::after {
	left: 1.2rem;
}
.ux-timeline.number .ux-timeline-item {
	gap: 1.2rem;
}
.ux-timeline.number .ux-timeline-index {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	width: 2.4rem;
	height: 2.4rem;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1;
	color: var(--light0);
}
.ux-timeline.number .ux-timeline-content {}
/* UxTimeline z-index */
.ux-timeline-base::before {
	z-index: 1;
}
.ux-timeline-item:first-child::after,
.ux-timeline-item:last-child::after {
	z-index: 2;
}
.ux-timeline-index {
	z-index: 3;
}