@charset "utf-8";

@import 'base.css';
@import 'components.css';

/* Layout Container */
.ux-container {display: flex; flex-direction: column; height: 100%;}
/* Layout Common */
.ux-header,
.ux-main,
.ux-footer {display: flex; flex-direction: column; align-items: center;}
.ux-header article,
.ux-main article,
.ux-footer article {width: 1280px;}
/* Layout Header */
.ux-header {}
.ux-header section {}
.ux-header article {}
/* Layout Main */
.ux-main {flex-grow: 1;}
.ux-main section {}
.ux-main article {}
/* Layout Footer */
.ux-footer {}
.ux-footer section {}
.ux-footer article {}
