@charset "utf-8";

@import "base.css";
@import "icon.css";
/* @import "components.css"; */

/* ROOT VARIABLES */
:root {
	--100vh: calc(var(--vh, 1vh) * 100);
	--100vw: calc(var(--vw, 1vw) * 100);

	/* SPACE */
	--space: 2rem;
	--minus: calc(var(--space) * -1);

	/* COLOR */
	--color1: rgb(217, 13, 88);
	--color2: rgba();
	--color3: rgba();
	--light0: rgb(255, 255, 255);
	--light1: rgb(238, 238, 238);
	--light2: rgb(204, 204, 204);
	--light3: rgb(170, 170, 170);
	--dark0: rgb(0, 0, 0);
	--dark1: rgb(34, 34, 34);
	--dark2: rgb(68, 68, 68);
	--dark3: rgb(102, 102, 102);
	--valid: rgb(28, 87, 248);
	--invalid: rgb(242, 56, 39);

	/* FONT */
	--font-2xs: 1rem;
	--font-xs: 1.2rem;
	--font-sm: 1.4rem;
	--font-md: 1.6rem;
	--font-lg: 1.8rem;
	--font-xl: 2rem;
	--font-2xl: 2.2rem;

	/* HEADING */
	--font-h1: 2.4rem;
	--font-h2: 2.2rem;
	--font-h3: 2rem;
	--font-h4: 1.8rem;
	--font-h5: 1.6rem;
}

#root {height: 100%;}

/* Heading Size */
h1, h2, h3, h4, h5 {
	font-weight: 700;
}
h1 {
	padding-bottom: calc(var(--font-h1) / 2);
	font-size: var(--font-h1);
}
h2 {
	padding-bottom: calc(var(--font-h2) / 2);
	font-size: var(--font-h2);
}
h3 {
	padding-bottom: calc(var(--font-h3) / 2);
	font-size: var(--font-h3);
}
h4 {
	padding-bottom: calc(var(--font-h4) / 2);
	font-size: var(--font-h4);
}
h5 {
	padding-bottom: calc(var(--font-h5) / 2);
	font-size: var(--font-h5);
}