/* UxBadge */
.ux-badge {
	display: inline-flex;
}
.ux-badge .ux-badge-base {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .6rem;
	min-width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--color1);
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--light0);
}