/* UxSelect */
.ux-select {
	display: flex;
}
.ux-select .ux-select-base {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}
.ux-select .ux-select-button {}
.ux-select .ux-select-button .ux-button-base {
	justify-content: flex-start;
	height: 4rem;
}
.ux-select .ux-select-button .ux-button-label {
	color: var(--light3);
}
.ux-select.selected .ux-select-button .ux-button-label {
	color: var(--dark0);
}
.ux-select .ux-select-icon {
	margin-left: auto;
}
.ux-select .ux-select-trans {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 0;
	border-radius: .8rem;
	box-shadow: 0 .1rem .5rem var(--light1);
	transform: translateY(calc(100% + .4rem));
	/* transition: max-height .1s ease-in-out; */
}
.ux-select .ux-select-list {
	border-radius: .8rem;
	box-shadow: inset 0 0 0 .1rem var(--light2);
	background-color: var(--light0);
}
.ux-select .ux-select-item {
	display: flex;
	align-items: center;
	padding: 0 1.2rem;
	height: 3.2rem;
	box-shadow: inset 0 -.1rem 0 0 var(--light2);
	cursor: pointer;
}
.ux-select .ux-select-item:last-child {
	box-shadow: none;
}
.ux-select .ux-select-item.selected {
	background-color: var(--color1);
	color: var(--light0);
}
/* UxInput Valid */
.ux-select.valid .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .1rem var(--valid);
}
.ux-select.valid:focus-within .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .2rem var(--valid);
}
/* UxInput Invalid */
.ux-select.invalid .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .1rem var(--invalid);
}
.ux-select.invalid:focus-within .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .2rem var(--invalid);
}
/* UxInput Readonly */
.ux-select.readonly .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .1rem var(--light3);
	background-color: var(--light1);
	opacity: 1;
}
.ux-select.readonly .ux-select-button .ux-button-label {
	color: var(--dark3);
}
/* UxInput Disabled */
.ux-select.disabled .ux-select-button .ux-button-base {
	box-shadow: inset 0 0 0 .1rem var(--light3);
	background-color: var(--light2);
	opacity: 1;
}
.ux-select.disabled .ux-select-button .ux-button-label {
	color: var(--dark3);
}
/* UxSelect in UxGroup */
.ux-group.field .ux-select {
	flex-basis: 0;
}
.ux-group.field .ux-select .ux-button-base {
	padding-right: 0;
	box-shadow: none;
	background-color: transparent;
}
.ux-group.field .ux-select:focus-within .ux-button-base {
	box-shadow: none;
}
.ux-group.field.readonly .ux-select .ux-button-base,
.ux-group.field.disabled .ux-select .ux-button-base {
	background-color: transparent;
}
/* UxSelect z-index*/
.ux-select .ux-select-trans {
	z-index: 1;
}