/* UxTextarea */

/* UxTextarea */
.ux-textarea {
	display: flex;
	flex-direction: column;
	gap: .4rem;
	padding: .8rem 1.2rem;
	min-height: 4rem;
	border-radius: .8rem;
	box-shadow: inset 0 0 0 .1rem var(--light2);
	background-color: var(--light0);
	transition: box-shadow .1s ease-in-out;
}
.ux-textarea .ux-textarea-base {
	display: flex;
}
.ux-textarea .ux-textarea-input {
	overflow: hidden;
	width: 100%;
	height: 2.4rem;
	border: 0;
	background-color: transparent;
	caret-color: var(--dark3);
	white-space: normal;
	word-break: break-all;
	resize: none;
}
.ux-textarea .ux-textarea-input:focus,
.ux-textarea .ux-textarea-input:focus-visible {
	outline: none;
}
.ux-textarea .ux-textarea-count {
	text-align: right;
	/* transform: translateY(-100%); */
}
/* UxInput Focus */
.ux-textarea:focus-within {
	box-shadow: inset 0 0 0 .2rem var(--light3);
}
/* UxInput Valid */
.ux-textarea.valid {
	box-shadow: inset 0 0 0 .1rem var(--valid);
}
.ux-textarea.valid:focus-within {
	box-shadow: inset 0 0 0 .2rem var(--valid);
}
/* UxInput Invalid */
.ux-textarea.invalid {
	box-shadow: inset 0 0 0 .1rem var(--invalid);
}
.ux-textarea.invalid:focus-within {
	box-shadow: inset 0 0 0 .2rem var(--invalid);
}
/* UxInput Readonly */
.ux-textarea.readonly {
	background-color: var(--light1);
}
.ux-textarea.readonly .ux-textarea-base {
	color: var(--dark3);
}
/* UxInput Disabled */
.ux-textarea.disabled {
	box-shadow: inset 0 0 0 .1rem var(--light3);
	background-color: var(--light2);
}
.ux-textarea.disabled .ux-textarea-base {
	color: var(--dark3);
}