/* UxArticle */
.ux-article {
	width: 64rem;
}
.ux-content .ux-article + .ux-article {
	margin-top: 2.4rem;
}
/* UxArticle Mobile */
.ux-container.mobile .ux-article {
	padding: 0 var(--space);
	width: initial;
}
.ux-container.mobile .ux-content .ux-article {
	padding: 0;
}