/* UxFooter */
.ux-footer {
	flex-shrink: 0;
	height: 8rem;
	border-top: .1rem solid rgba(0, 0, 0, 0.05);
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 -.1rem .5rem rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255);
}
.ux-footer .ux-section {
	height: 100%;
}
.ux-footer .ux-article {
	height: 100%;
}
.ux-footer .ux-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}