/* UxDock */
.ux-header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	flex-shrink: 0;
	flex-basis: 8rem;
	border-bottom: .1rem solid rgba(0, 0, 0, 0.05);
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(.5rem);
}
.ux-header .ux-section {
	height: 100%;
}
.ux-header .ux-article {
	height: 100%;
}
.ux-header .ux-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
/* UxDock z-index */
.ux-header {z-index: 10;}